form(method='post')
    = form.csrf_token
    .row
        .control-group
            .span3= form.code_name.label
            .span9= form.code_name
        .control-group
            .span3= form.name.label
            .span9= form.name

        .control-group
            .span3= form.price.label
            .span9= form.price

        .control-group
            .span3= form.transfer.label
            .span9= form.transfer
        .control-group
            .span3= form.size_static.label
            .span9= form.size_static
        .control-group
            .span3= form.size_total.label
            .span9= form.size_total
        .control-group
            .span3= form.count_template.label
            .span9= form.count_template
        .control-group
            .span3= form.count_static.label
            .span9= form.count_static

        .control-group
            .span3= form.custom_domain.label
            .span9= form.custom_domain
    .row: .control-group
        .span3= form.cms.label
        .span9= form.cms

    .row: .control-group
        .span3= form.available.label
        .span9= form.available

    .row: .control-group
        .span9.offset3
            button(type='submit') Submit plan
